body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

nav {
    padding: 1em;
    background-color: lightgray;
    border-color: grey;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-right: 1em;
}