* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: mediumblue;
    color: white;
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid midnightblue;
}

article {
    background-color: whitesmoke;
    padding: 20px;
    flex: 1;
}

section {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: square;
}

.side {
    background-color: #eee;
    width: 15em;
    border: 1px #ddd solid;
    padding: 1em;
    height: 300px;
}

footer {
    background: #222;
    color: #eee;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%
}

.logo {
    font-family: serif;
    color: white;
}

header > a {
    text-decoration: none;
}

.separator {
    height: 2em;
}

@media screen and (max-width: 450px) {
    section {
        flex-direction: column;
    }
    .side {
        width: 100%;
        height: fit-content;
    }
}